# --
# AgentTicketDecision.tt - provides HTML form for decision mask
# Copyright (C) 2001-2016 OTRS AG, http://otrs.com/
# --
# $origin: https://github.com/OTRS/otrs/blob/be07fec70df5989ca43ad33dc0438fb5df8ca969/Kernel/Output/HTML/Standard/AgentTicketNote.tt
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% InsertTemplate("AgentTicketActionCommon.tt") %]
