# --
# AgentTicketDecision.tt - provides HTML form for decision mask
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# $origin: https://github.com/OTRS/otrs/blob/35598a003aec031dbff8f899f94e16fee62caba0/Kernel/Output/HTML/Standard/AgentTicketNote.tt
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% InsertTemplate("AgentTicketActionCommon.tt") %]
