# --
# Copyright (C) 2001-2018 OTRS AG, http://otrs.com/
# --
# $origin: otrs - a4512636fc11eff48b5864b208e064bb1cce29f3 - Kernel/Output/HTML/Standard/AgentTicketNote.tt
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% InsertTemplate("AgentTicketActionCommon.tt") %]
